//import variables
@import 'variables';

// import font
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap');

$date-font: 'Playfair Display', serif;

.dd{
  font-family: $date-font;
  font-size: 40px;
}

.dropleft .dropdown-toggle::before {
    visibility: hidden;
}

.sidenav {
    height: 100%;
    width: 270px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $black;
    overflow-x: hidden;
    border: none;
    padding-top: 10px;
    a {
        padding: 10px 8px 12px 20px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        display: block;
        border: none;
        border-radius: 5px;
    }
    a:hover {
        color: #fff;
        background-color: rgba(128, 128, 128, 0.07);
        border: none;
    }
    a.active{
        color: #fff;
        background-color: $orange;
        font-weight: 600;
    }
    .navbar-brand {
        padding: 10px 8px 12px 20px;
    }
  }

  .navbar {
    background-color: #FFF;
    border-bottom: 1px solid #ECEEF4;
  }

  body{
    background-color: #e0e0e0;
  }

  .transparent{
    background-color: #fbfbfd;
  }

   a:hover.navbar-brand {
    border-left: none;
    color: none !important;
    background-color: transparent !important;
  }

  main {
    margin-top: 75px;
    margin-left: 270px; /* Same as the width of the sidenav */
    /* padding: 0px 10px; */
  }

  nav{
    margin-left: 270px; /* Same as the width of the sidenav */
  }

  @media screen and (max-width: 769.5px) {
    main {margin-left: 0;}
    nav {margin-left: 0;}
  }

  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.news-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.thumbnail {
    width: 6vw;
    height: 6vw;
    object-fit: cover;
}

.trash {
    font-size: 70px;
    color: $orange;
}