/*--reset-css--*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*--end-reset-css--*/

/*--flex--*/

.gf_flex {
  display: flex;
}

.gf_inline-flex {
  display: inline-flex !important;
}

.gf_flex-row {
  flex-direction: row;
}

.gf_flex-column {
  flex-direction: column;
}

.gf_flex-row-reverse {
  flex-direction: row-reverse;
}

.gf_flex-column-reverse {
  flex-direction: column-reverse;
}

.gf_flex-wrap {
  flex-wrap: wrap;
}

.gf_flex-nowrap {
  flex-wrap: nowrap;
}

.gf_flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.gf_justify-c-left {
  justify-content: flex-start;
}

.gf_justify-c-right {
  justify-content: flex-end;
}

.gf_justify-c-center {
  justify-content: center;
}

.gf_justify-c-between {
  justify-content: space-between;
}

.gf_align-i-left {
  align-items: flex-start;
}

.gf_align-i-right {
  align-items: flex-end;
}

.gf_align-i-center {
  align-items: center;
}

.gf_align-c-left {
  align-content: flex-start;
}

.gf_align-c-right {
  align-content: flex-end;
}

.gf_align-c-center {
  align-content: center;
}

@media (max-width: 1200px) {
  .gf_flex-lg {
    display: flex;
  }

  .gf_flex-lg-row {
    flex-direction: row;
  }

  .gf_flex-lg-column {
    flex-direction: column;
  }

  .gf_flex-lg-row-reverse {
    flex-direction: row-reverse;
  }

  .gf_flex-lg-column-reverse {
    flex-direction: column-reverse;
  }

  .gf_flex-lg-wrap {
    flex-wrap: wrap;
  }

  .gf_flex-lg-nowrap {
    flex-wrap: nowrap;
  }

  .gf_flex-lg-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .gf_flex-lg-fill {
    flex: 1 1 auto;
  }

  .gf_flex-lg-grow-0 {
    flex-grow: 0;
  }

  .gf_flex-lg-grow-1 {
    flex-grow: 1;
  }

  .gf_flex-lg-shrink-0 {
    flex-shrink: 0;
  }

  .gf_flex-lg-shrink-1 {
    flex-shrink: 1;
  }

  .gf_justify-c-lg-left {
    justify-content: flex-start;
  }

  .gf_justify-c-lg-right {
    justify-content: flex-end;
  }

  .gf_justify-c-lg-center {
    justify-content: center;
  }

  .gf_justify-c-lg-between {
    justify-content: space-between;
  }

  .gf_justify-c-lg-around {
    justify-content: space-around;
  }

  .gf_align-i-lg-left {
    align-items: flex-start;
  }

  .gf_align-i-lg-right {
    align-items: flex-end;
  }

  .gf_align-i-lg-center {
    align-items: center;
  }

  .gf_align-i-lg-baseline {
    align-items: baseline;
  }

  .gf_align-i-lg-stretch {
    align-items: stretch;
  }

  .gf_align-c-lg-left {
    align-content: flex-start;
  }

  .gf_align-c-lg-right {
    align-content: flex-end;
  }

  .gf_align-c-lg-center {
    align-content: center;
  }

  .gf_align-c-lg-between {
    align-content: space-between;
  }

  .gf_align-c-lg-around {
    align-content: space-around;
  }

  .gf_align-c-lg-stretch {
    align-content: stretch;
  }

  .gf_align-s-lg-auto {
    align-self: auto;
  }

  .gf_align-s-lg-left {
    align-self: flex-start;
  }

  .gf_align-s-lg-right {
    align-self: flex-end;
  }

  .gf_align-s-lg-center {
    align-self: center;
  }

  .gf_align-s-lg-baseline {
    align-self: baseline;
  }

  .gf_align-s-lg-stretch {
    align-self: stretch;
  }
}

@media (max-width: 992px) {
  .gf_flex-md {
    display: flex;
  }

  .gf_flex-md-row {
    flex-direction: row;
  }

  .gf_flex-md-column {
    flex-direction: column;
  }

  .gf_flex-md-row-reverse {
    flex-direction: row-reverse;
  }

  .gf_flex-md-column-reverse {
    flex-direction: column-reverse;
  }

  .gf_flex-md-wrap {
    flex-wrap: wrap;
  }

  .gf_flex-md-nowrap {
    flex-wrap: nowrap;
  }

  .gf_flex-md-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .gf_flex-md-fill {
    flex: 1 1 auto;
  }

  .gf_flex-md-grow-0 {
    flex-grow: 0;
  }

  .gf_flex-md-grow-1 {
    flex-grow: 1;
  }

  .gf_flex-md-shrink-0 {
    flex-shrink: 0;
  }

  .gf_flex-md-shrink-1 {
    flex-shrink: 1;
  }

  .gf_justify-c-md-left {
    justify-content: flex-start;
  }

  .gf_justify-c-md-right {
    justify-content: flex-end;
  }

  .gf_justify-c-md-center {
    justify-content: center;
  }

  .gf_justify-c-md-between {
    justify-content: space-between;
  }

  .gf_justify-c-md-around {
    justify-content: space-around;
  }

  .gf_align-i-md-left {
    align-items: flex-start;
  }

  .gf_align-i-md-right {
    align-items: flex-end;
  }

  .gf_align-i-md-center {
    align-items: center;
  }

  .gf_align-i-md-baseline {
    align-items: baseline;
  }

  .gf_align-i-md-stretch {
    align-items: stretch;
  }

  .gf_align-c-md-left {
    align-content: flex-start;
  }

  .gf_align-c-md-right {
    align-content: flex-end;
  }

  .gf_align-c-md-center {
    align-content: center;
  }

  .gf_align-c-md-between {
    align-content: space-between;
  }

  .gf_align-c-md-around {
    align-content: space-around;
  }

  .gf_align-c-md-stretch {
    align-content: stretch;
  }

  .gf_align-s-md-auto {
    align-self: auto;
  }

  .gf_align-s-md-left {
    align-self: flex-start;
  }

  .gf_align-s-md-right {
    align-self: flex-end;
  }

  .gf_align-s-md-center {
    align-self: center;
  }

  .gf_align-s-md-baseline {
    align-self: baseline;
  }

  .gf_align-s-md-stretch {
    align-self: stretch;
  }
}

@media (max-width: 768px) {
  .gf_flex-sm {
    display: flex;
  }

  .gf_flex-sm-row {
    flex-direction: row;
  }

  .gf_flex-sm-column {
    flex-direction: column;
  }

  .gf_flex-sm-row-reverse {
    flex-direction: row-reverse;
  }

  .gf_flex-sm-column-reverse {
    flex-direction: column-reverse;
  }

  .gf_flex-sm-wrap {
    flex-wrap: wrap;
  }

  .gf_flex-sm-nowrap {
    flex-wrap: nowrap;
  }

  .gf_flex-sm-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .gf_flex-sm-fill {
    flex: 1 1 auto;
  }

  .gf_flex-sm-grow-0 {
    flex-grow: 0;
  }

  .gf_flex-sm-grow-1 {
    flex-grow: 1;
  }

  .flgf_flexex-sm-shrink-0 {
    flex-shrink: 0;
  }

  .gf_flex-sm-shrink-1 {
    flex-shrink: 1;
  }

  .gf_justify-c-sm-left {
    justify-content: flex-start;
  }

  .gf_justify-c-sm-right {
    justify-content: flex-end;
  }

  .gf_justify-c-sm-center {
    justify-content: center;
  }

  .gf_justify-c-sm-between {
    justify-content: space-between;
  }

  .gf_justify-c-sm-around {
    justify-content: space-around;
  }

  .gf_align-i-sm-left {
    align-items: flex-start;
  }

  .gf_align-i-sm-right {
    align-items: flex-end;
  }

  .gf_align-i-sm-center {
    align-items: center;
  }

  .gf_align-i-sm-baseline {
    align-items: baseline;
  }

  .gf_align-i-sm-stretch {
    align-items: stretch;
  }

  .gf_align-c-sm-left {
    align-content: flex-start;
  }

  .gf_align-c-sm-right {
    align-content: flex-end;
  }

  .gf_align-c-sm-center {
    align-content: center;
  }

  .gf_align-c-sm-between {
    align-content: space-between;
  }

  .gf_align-c-sm-around {
    align-content: space-around;
  }

  .gf_align-c-sm-stretch {
    align-content: stretch;
  }

  .gf_align-s-sm-auto {
    align-self: auto;
  }

  .gf_align-s-sm-left {
    align-self: flex-start;
  }

  .gf_align-s-sm-right {
    align-self: flex-end;
  }

  .gf_align-s-sm-center {
    align-self: center;
  }

  .gf_align-s-sm-baseline {
    align-self: baseline;
  }

  .gf_align-s-sm-stretch {
    align-self: stretch;
  }
}

@media (max-width: 576px) {
  .gf_flex-xs {
    display: flex;
  }

  .gf_flex-xs-row {
    flex-direction: row;
  }

  .gf_flex-xs-column {
    flex-direction: column;
  }

  .gf_flex-xs-row-reverse {
    flex-direction: row-reverse;
  }

  .gf_flex-xs-column-reverse {
    flex-direction: column-reverse;
  }

  .gf_flex-xs-wrap {
    flex-wrap: wrap;
  }

  .gf_flex-xs-nowrap {
    flex-wrap: nowrap;
  }

  .gf_flex-xs-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .gf_justify-c-xs-left {
    justify-content: flex-start;
  }

  .gf_justify-c-xs-right {
    justify-content: flex-end;
  }

  .gf_justify-c-xs-center {
    justify-content: center;
  }

  .gf_justify-c-xs-between {
    justify-content: space-between;
  }

  .gf_justify-c-xs-around {
    justify-content: space-around;
  }

  .gf_align-i-xs-left {
    align-items: flex-start;
  }

  .gf_align-i-xs-right {
    align-items: flex-end;
  }

  .gf_align-i-xs-center {
    align-items: center;
  }

  .gf_align-i-xs-baseline {
    align-items: baseline;
  }

  .gf_align-i-xs-stretch {
    align-items: stretch;
  }

  .gf_align-c-xs-left {
    align-content: flex-start;
  }

  .gf_align-c-xs-right {
    align-content: flex-end;
  }

  .gf_align-c-xs-center {
    align-content: center;
  }

  .gf_align-c-xs-between {
    align-content: space-between;
  }

  .gf_align-c-xs-around {
    align-content: space-around;
  }

  .gf_align-c-xs-stretch {
    align-content: stretch;
  }

  .gf_align-s-xs-auto {
    align-self: auto;
  }

  .gf_align-s-xs-left {
    align-self: flex-start;
  }

  .gf_align-s-xs-right {
    align-self: flex-end;
  }

  .gf_align-s-xs-center {
    align-self: center;
  }

  .gf_align-s-xs-baseline {
    align-self: baseline;
  }

  .gf_align-s-xs-stretch {
    align-self: stretch;
  }
}

/*--end-flex--*/

body {
  font-family: "Nexa";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 1em;
  color: #000000;
  background: #FFFFFF;
}

.color--primary {
  background: #000000;
}

.color--secondary {
  background: #be563f;
}

.color--background {
  background: #FFFFFF;
}

.color--text {
  background: #000000;
}

.font--primary {
  font-family: "Nexa";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  line-height: 1em;
}

.font--secondary {
  font-family: "Merriweather";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 1em;
}

a,
.link {
  text-decoration: none;
  color: #ef6241;
  background: transparent;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  font-weight: 400;
  line-height: 1em;
}

a:hover,
.link--hover {
  text-decoration: underline;
  color: #ef6241;
}

img {
  display: block;
  max-width: 100%;
  border: 0;
}

.gf_container {
  width: 1185px;
  margin: 0px auto;
  padding: 0px 15px;
}

.gf_container-full {
  padding: 0px 15px;
  margin: 0px auto;
}

input,
.input,
textarea,
.textarea {
  display: block;
  width: 100%;
  border: none;
  color: #333333;
  padding: 13px 12px;
  background: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #929292;
  border-radius: 0px;
  box-shadow: none;
  outline: none;
  font-family: "Nexa";
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 1em;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0.3s;
}

input:focus,
.input:focus,
textarea:focus,
.textarea:focus,
.input--focus {
  border: none;
  color: #333333;
  background: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #333333;
  border-radius: 0px;
  box-shadow: none;
  outline: none;
}

button,
.button {
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 16px 72px;
  background: #000000;
  border-style: none;
  border-width: 1;
  border-color: #b1945c;
  border-radius: 0px;
  opacity: 1;
  box-shadow: none;
  outline: none;
  font-family: " Nexa";
  font-size: 15px;
  font-weight: 400;
  line-height: 1em;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0.3s;
}

button:hover,
.button:hover,
.button--hover {
  color: #fff;
  background: #5d5d5d;
  border-style: none;
  border-width: 1px;
  border-color: #b1945c;
  border-radius: 0px;
  opacity: 1;
  box-shadow: none;
  outline: none;
}

.button--secondary {
  border: none;
  cursor: pointer;
  color: #000000;
  padding: 16px 72px;
  background: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #d7d7d7;
  border-radius: 0px;
  opacity: 1;
  box-shadow: none;
  outline: none;
  font-family: "Nexa";
  font-size: 15px;
  font-weight: 400;
  line-height: 1em;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.button--secondary:hover {
  color: #000000;
  background: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  border-radius: 0px;
  opacity: 1;
  box-shadow: none;
  outline: none;
}

h1 {
  font-family: Merriweather;
  color: #333333;
  font-size: 50px;
  background: transparent;
  font-weight: 300;
  line-height: 1em;
}

h2 {
  font-family: Merriweather;
  color: #333333;
  font-size: 35px;
  background: transparent;
  font-weight: 300;
  line-height: 1em;
}

h3 {
  font-family: Merriweather;
  color: #333333;
  font-size: 20px;
  background: transparent;
  font-weight: 300;
  line-height: 1em;
}

h4 {
  font-family: Merriweather;
  color: #333333;
  font-size: 15px;
  background: transparent;
  font-weight: 300;
  line-height: 1em;
}

h5 {
  font-family: Merriweather;
  color: #333333;
  font-size: 12px;
  background: transparent;
  font-weight: 300;
  line-height: 1em;
}

h6 {
  font-family: Merriweather;
  color: #333333;
  font-size: 12px;
  background: transparent;
  font-weight: 300;
  line-height: 1em;
}

@media (max-width: 1200px) {
  body {
    font-size: 15px;
  }
}

@media (max-width: 1200px) {
  .gf_container {
    width: 100%;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 16px;
  }

  .gf_container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 15px;
  }

  .gf_container {
    width: 100%;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 14px;
  }

  .gf_container {
    width: 100%;
  }
}

